
<div class="container-fluid">
  <h4>User Maintenance</h4>
  <kendo-grid responsiveHeightDirective
              [height]="370"
              style="width:100%;"
              id="referenceGrid"
              #grid
              [kendoGridBinding]="data"
              [filterable]="showFilter"
              [pageable]='{pageSizes:[20,50,100]}'
              [pageSize]="pageSize"
              [skip]="skip"
              (pageChange)="pageChange($event)"
              [sort]="sort"
              [sortable]="{mode: 'single'}"
              (sortChange)="sortChange($event)"
              (dataStateChange)="filterChange($event)"
              [resizable]="true">

    <ng-template kendoGridToolbarTemplate>
      <div class="showFilter checkbox checkbox-primary">
        <input type="checkbox" class="k-checkbox" id="showHideFilter" (click)="showHideFilter()">
        <label for="showHideFilter" class="k-checkbox-label">
          <i class="fa fa-filter"
             aria-hidden="true"></i> Show Filter
        </label>
      </div>
      <!--<button type="button" kendoGridExcelCommand icon="file-excel" class="k-primary btn btn-primary float-right">
        Export to
        Excel
      </button>-->
      <button type="button" class="k-primary btn btn-primary floatRight" (click)="AddUser('I', '')">
        <i class="fa fa-plus" aria-hidden="true"></i> New Data
      </button>
    </ng-template>
    <kendo-grid-column [width]="30">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button type="button" class="k-primary btn btn-primary btn-sm" (click)="EditUser('U', dataItem.lib_user_level_id)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button> &nbsp;


        <button type="button" class="k-danger btn btn-danger btn-sm" (click)="DelUser(dataItem.lib_user_level_id)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="user_name" title="User Name" [width]="50"></kendo-grid-column>
    <kendo-grid-column field="name" title="Name" [width]="90"></kendo-grid-column>
    <kendo-grid-column field="date_updated" title="Date updated" [width]="90"></kendo-grid-column>
    <kendo-grid-column field="updated_by" title="Updated by" [width]="90"></kendo-grid-column>
    <kendo-grid-column field="is_active" title="Active" [width]="30"></kendo-grid-column>
  </kendo-grid>
</div>
